body
  background: #f3f3f3

.navBar
  background: #e8e8e8

.dropdown-menu
  position: absolute
  top: 0
  right: 0

.banner-background
  width: 100%
  height: 200px
  background: #678CE8

.profile-edit-form
  width: 500px
  margin-top: -20px
  padding: 20px
  border: 1px solid #e9e9e9
  background: #ffffff

  span
    display: inline-block
    width: 100%
    margin-bottom: 10px

  input
    width: 100%
    padding: 5px
    margin-bottom: 30px

  textarea
    width: 100%
    height: 60px
    margin-bottom: 30px
    padding: 5px
    border: 1px solid #e9e9e9

  .save-button
    width: 100%
    color: #ffffff
    font-size: 12px
    height: 40px
    background: #3CE83D
    padding: 10px 0
    border: 0

