<template name="designPanel">
  <div class="form-panel list-design-form">
    <form>
      <div class="close-form">Close</div>
      <div class="form-field">
        <span class="field-title">Background Style:</span>
        <div class="button-group">
          <button class="background-subtle" name="list-background-subtle">Subtle (no image)</button>
          <button class="background-slim" name="list-background-slim">Slim</button>
          <button class="background-full" name="list-background-full">Full Width</button>
        </div>
      </div>
      <div class="form-field">
        <span class="field-title">List Item Style:</span>
        <div class="button-group">
          <button class="style-subtle" name="item-style-subtle">Subtle List Style</button>
          <button class="style-card" name="item-style-card">Card List Style</button>
        </div>
      </div>
      <button class="update-style success-button">Save Styles</button>
    </form>
  </div>
</template>