<template name="listPage">
{{#if listExists}}
  <div class="{{backgroundStyle}}" style="background-image: url('{{background}}')">
    <div class="profile-name">{{title}}</div>
    <div class="profile-location">{{desc}}</div>
  </div>
  <div class="page-action-group ui-box centered">
    {{#if listOwner}}
      <div class="edit-link edit-design-link">Edit Design</div>
      <div class="edit-link edit-list-link">Edit List</div>
      <div class="edit-link add-item-link">Add to List</div>
    {{/if}}
    <div class="edit-link share-list">Share List</div>
  </div>
  {{> designPanel}}
  {{> itemEdit}}
  <div class="form-panel share-list-form">
    <form>
      <div class="close-form">Close</div>
      <div class="form-field">
        <span class="field-title">Share List URL:</span>
        <div id="url-link" data-clipboard-text="Copy Me!" title="Click to copy me.">http://mementoapp.meteor.com/{{pathFor 'listPage'}}</div>
      </div>
      <button class="done-sharing success-button" type="submit">Done</button>
    </form>
  </div>
   <div class="form-panel list-edit-form">
    <form>
      <div class="close-form">Close</div>
      <div class="form-field">
        <span class="field-title">List Name:</span>
        <input type="text" name="listName" placeholder="Awesome list" value="{{title}}">
      </div>
      <div class="form-field">
        <span class="field-title">List Description:</span>
        <textarea type="text" name="listDesc" placeholder="Say something about this list.." value="{{desc}}"></textarea>
      </div>
      <div class="form-field">
        <span class="field-title">Background Image URL:</span>
        <input type="text" name="listBackground" placeholder="http://" value="{{background}}">
      </div>
      <button class="update-list success-button" type="submit">Update</button>
      <div class="delete-list delete-link">Delete List</div>
    </form>
  </div>
  <div class="form-panel add-item-form">
    <div class="close-form">Close</div>
    <form>
      <div class="form-field">
        <span class="field-title">Item Name:</span>
        <input type="text" name="newItemName" placeholder="Item Name">
      </div>
      <div class="form-field">
        <span class="field-title">Item URL:</span>
        <input type="text" name="newItemUrl" placeholder="http://">
      </div>
      <div class="form-field">
        <span class="field-title">Item Background URL:</span>
        <input type="text" name="newItemBackground" placeholder="http://example.com/image.jpg">
      </div>
      <div class="form-field">
        <span class="field-title">Description:</span>
        <textarea type="text" name="newItemDesc" placeholder="Describe this item (optional)"></textarea>
      </div>
      <button class="add-item-button success-button" type="submit">ADD</button>
    </form>
  </div>
  {{#each items}}
    <div class="item-card {{style}}">
      {{#if itemUrl}}
      <div class="item-name"><a href="{{itemUrl}}"><h1>{{itemName}}</h1></a></div>
        {{#if imageExists}}
          <div class="item-background" style="background-image: url('{{itemBackground}}')"></div>
        {{/if}}
      {{else}}
      <div class="item-name"><h1>{{itemName}}</h1></div>
        {{#if imageExists}}
        <div class="item-background" style="background-image: url('{{itemBackground}}')"></div>
        {{/if}}
      {{/if}}
      <p class="item-desc">{{itemDesc}}</p>
      {{#if listOwner}}
        <div name="{{_id}}" class="item-actions">
          {{#if notFirst}}
            <span class="move-item-up"><a href="#">Move Up</a></span>
          {{/if}}
          {{#if notLast}}
            <span class="move-item-down"><a href="#">Move Down</a></span>
          {{/if}}
          <span class="edit-item"><a href="#">Edit Item</a></span>
        </div>
      {{/if}}
    </div>
  {{/each}}
  {{#if count}}
  <div class="no-list">There is no item <b>yet</b>. 
    {{#if listOwner}}
      <a href="#" class="margin-left-10 add-item-link">Add One</a>
    {{/if}}
  </div>
  {{/if}}
  <div class="back-link">
    <a href="/{{username}}">Back to {{username}}'s Collections</a>
  </div>
{{else}}
 {{> notFound}}
{{/if}}
</template>

