<template name="userProfile">
  <div class="banner-background ui-box centered column" style="background-image: url('{{profile.background}}')">
    <div class="profile-name">{{profile.firstName}} {{profile.lastName}}</div>
    <div class="profile-location">{{profile.location}}</div>
  </div>
  {{#if profileOwner}}
  <div class="page-action-group ui-box centered">
    <div class="edit-link edit-profile-link">Edit Profile</div>
    <div class="edit-link add-list-link">Add New List</div>
  </div>
  {{/if}}
  <div class="form-panel add-list-form">
    <form>
      <div class="close-form">Close</div>
      <div class="form-field">
        <span class="field-title">List Name:</span>
        <input type="text" name="listName" placeholder="Awesome list">
      </div>
      <div class="form-field">
        <span class="field-title">List Description:</span>
        <textarea type="text" name="listDesc" placeholder="Say something about this list.."></textarea>
      </div>
      <div class="form-field">
        <span class="field-title">List URL:</span><div class="url-exist">URL Taken, please use a different one.</div>
        <input type="text" name="listURL" class="link-url" placeholder="the link to your list">
      </div>
      <div class="form-field">
        <span class="field-title">Background Image URL:</span>
        <input type="text" name="background" placeholder="http://">
      </div>
      <button class="add-list success-button" type="submit">Add List</button>
    </form>
  </div>
  <div class="form-panel profile-edit-form">
    <form>
      <div class="close-form">Close</div>
      <div class="form-field">
        <span class="field-title">First Name:</span>
        <input type="text" name="firstname" placeholder="John" value="{{profile.firstName}}">
      </div>
      <div class="form-field">
        <span class="field-title">Last Name:</span>
        <input type="text" name="lastname" placeholder="Doe" value="{{profile.lastName}}">
      </div>
      <div class="form-field">
        <span class="field-title">Location:</span>
        <input type="text" name="location" placeholder="City, State/Country" value="{{profile.location}}">
      </div>
      <div class="form-field">
        <span class="field-title">Bio:</span>
        <textarea type="text" name="bio" placeholder="Say something about yourself.." value="{{profile.bio}}"></textarea>
      </div>
      <div class="form-field">
        <span class="field-title">Background Image URL:</span>
        <input type="text" name="profileBackground" placeholder="http://" value="{{profile.background}}">
      </div>
      <button class="save-button success-button" type="submit">SAVE</button>
    </form>
  </div>
  <div class="profile-bio">{{profile.bio}}</div>
  {{> listIndex}}
</template>